body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

.container {
    text-align: center;
    padding: 40px;
}

.card {
    width: 360px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #00c6ff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
}

h2 {
    margin-top: 15px;
}